.poppins-thin {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}


/* Header related styles */
.header-container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.header-container .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.nav-list li a:hover {
    color: #15c44a;
}


/* Hero section related styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
}

.hero-bg-img {
    background-image: url("images/Circle\ design.svg");
    background-position: center;
}

.hero-img img {
    max-width: 400px;
}

.hero-txt h2 {
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 60px;
    max-width: 582px;
}

.hero-txt p {
    font-size: 16px;
    padding-top: 16px;
    font-weight: bolder;
    color: #3A3A3A;
    max-width: 500px;
}

.hero-txt button {
    padding: 10px 24px;
    border-radius: 40px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border-style: none;
    margin-top: 16px;
}

.hero-txt button:hover {
    background-color: #FFFFFF;
    color: #E02C6D ;
    cursor: pointer;
    border: 0.4px solid rgba(0, 0, 0, 0.404);
}

.hero-txt button i{
    font-size: 10px;
}


/* Sponcer section related styles */
.sponcer-container {
    max-width: 90%;
    margin: 0 auto;
    border-top: 1px solid rgba(192, 204, 218, 0.6);
    padding-top: 35px;
    border-bottom: 1px solid rgba(192, 204, 218, 0.6);
    padding-bottom: 30px;
}

.sponcer-brands {
    display: flex;
    justify-content: center;
    gap: 60px;
}

/* Card section related styles */
.card-container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 100px;
}

.card-container h2 {
    text-align: center;
    padding-bottom: 45px;
    font-size: 30px;
    font-weight: 600;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.common-card {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
}

.common-card img {
    display: block;
    margin: 0 auto;
}

.common-card .card-head {
    font-size: 28px;
    font-weight: 500;

}

.common-card p {
    font-size: 14px;
    font-weight: bold;
}

.common-card i{
    color: orange;
}

/* Featured section related styles */
.featured-container {
    display: flex;
    gap: 96px;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.freatured-img {
    display: flex;
    align-items: center;
}

.featured-container .featured-txt h2 {
    font-size: 38px;
    font-weight: bold;
    padding-bottom: 16px;
    color: #0A0826;
}

.featured-container .featured-txt p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 16px;
    color: #6C6C6C;
}

.featured-container .featured-txt button {
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(224, 44, 109, 1);
    color: #FFFFFF;
    padding: 10px 24px;
    border-style: none;
}

.featured-txt button:hover {
    background-color: #FFFFFF;
    color: rgba(224, 44, 109, 1);
    border: 0.4px solid rgba(0, 0, 0, 0.411);
}

.featured-txt button i{
 font-size: 10px;
}


/* Footer section related styles */
.footer-container {
    background-color: rgba(10, 8, 38, 1);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-container h3 {
    font-size: 30px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.footer-container p {
    font-size: 14px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.612);
}

.footer-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding-top: 17px;
}

.common-icon i {
    color: #FFFFFF;
}