.poppins-thin {
    font-family: "Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFFFFF;
}


/* Header related styles */
.header-container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.header-container .header-logo{
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-list{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav-list li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

.nav-list li a {
    color: black;
    background-color: aqua;
}







