.poppins-thin {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}


/* Header related styles */
.header-container {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.header-container .header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #3A3A3A;
}

.nav-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
}

.nav-list li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #3A3A3A;
}

/* Hero section related styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 130px;
}

.hero-bg-img {
    background-image: url("images/Circle\ design.svg");
    background-position: center;
}

.hero-img img {
    max-width: 400px;
}

.hero-txt h2 {
    font-size: 52px;
    font-weight: bold;
    color: #3A3A3A;
    line-height: 60px;
    max-width: 582px;
}

.hero-txt p {
    font-size: 16px;
    padding-top: 16px;
    font-weight: bolder;
    color: #3A3A3A;
    max-width: 500px;
}

.hero-txt button {
    padding: 10px 24px;
    border-radius: 40px;
    background-color: #E02C6D;
    color: #FFFFFF;
    border-style: none;
    margin-top: 16px;
}

/* Sponcer section related styles */
.sponcer-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 130px;
    max-width: 90%;
    margin: 0 auto;
}

/* Card section related styles */
.card-container{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 140px;
}

.card-container h2{
    text-align: center;
    padding-bottom: 45px;
    font-size: 30px;
    font-weight: 600;
}

.card-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}


.common-card {
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 30px;
}

.common-card img{
    display: block;
    margin: 0 auto;
}

.common-card .card-head{
    font-size: 28px;
    font-weight: 500;

}

.common-card p {
    font-size: 14px;
    font-weight: bold;
}






